body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f8f8;
    text-align: center;
    margin: 20px;
}

h1 {
    color: #333;
}

.question {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px auto;
    max-width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display:none;
    text-align:justify;
}




label {
    
    display: block;
    margin-bottom: 20px;
    position: relative;
    padding-left: 100px;
    cursor: pointer;
}



button {
    padding: 10px 20px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

 label:hover{
    background-color: aqua;
 }